/* Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root{
    --primary-color: #4b59f7;
    --secondary-color: #0467fb;
    --light-color: #f7f8fa;
    --dark-color: #1c2237;
}
section{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: #121321;
    display: flex; 
    align-items: center;
    justify-content: center;
    color: #fff;
}
section::before {
    content: '';
    position: absolute;
    height: 240px;
    width: 240px;
    background: linear-gradient(90deg, #9c27b0, #f3f5f5);
    border-radius: 50%;
    transform: translate(-150px, -100px);
}
section::after {
    content: '';
    position: absolute;
    height: 240px;
    width: 240px;
    background: linear-gradient(90deg, #9c27b0, #f3f5f5);
    border-radius: 50%;
    transform: translate(150px, 100px);
}
.container {
    position: relative;
    height: 225px;
    width: 475px;
    z-index: 100;
}
.container .card {
    height: 100%;
    width: 100%;
    padding: 25px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    box-shadow: 0 25px 45px rgba(0, 0, 0 , 0.25);
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.front-face header,
.front-face .logo {
    display: flex;
    align-items: center;
}
.front-face header {
    justify-content: space-between;
}
.front-face .logo img {
    width: 48px;
    margin-right: 10px;
}
h5 {
   font-size: 16px;
   font-weight: 400;
}
.front-face .chip {
    width: 50px;
}
.front-face .card-details {
    display: flex;
    margin-top: 40px;
    /* flex-direction: column; */
    align-items: flex-end;
    justify-content: space-between;
}
h6 {
    font-size: 10px;
    font-weight: 400;
}
h5.number {
    font-size: 18px;
    letter-spacing: 1px;
}
h5.name {
    margin-top: 20px;
}